@import 'src/style/vars';

.movie-poster {
	width: 20%;
	margin-bottom: 40px;

	a, a:hover {
		color: inherit;
		text-decoration: none;
	}

	&:hover {
		cursor: pointer;

		.poster-image .overlay {
			left: 0;
		}
	}

	.poster-image {
		position: relative;
		overflow: hidden;

		img {
			width: 100%;
			height: auto;
			background-color: $deep-pink;
		}

		.add-favourite {
			position: absolute;
			z-index: 2;
			bottom: 10px;
			right: 10px;
			border-radius: 50%;
			background-color: $deep-pink;
			padding: 5px;
			width: 30px;
			height: 30px;
			
			.fill {
				opacity: 0;
				transition: opacity 0.3s;
			}
				
			&:hover .fill {
				opacity: 0.5;
			}
			
			svg {
				fill: white;
				width: 100%;
				height: auto;
			}
			
			&.active .fill{
				opacity: 1;
			}
		}

		.overlay {
			left: -100%;
			transition: left 0.5s;
			min-width: 100%;
			background: -webkit-linear-gradient(left, rgba(255,0,115,0.75) 10%,rgba(125,185,232,0) 100%);
		}
	}

	h2 {
		padding-right: 40px;
	}

	.favourite-toggle {
		color: $deep-pink;
		font-weight: 500;
		transition: color 0.3s;
		flex: 1;
	    display: flex;
	    justify-content: flex-end;
	    flex-direction: column;

		&:hover {
			color: white;
		}
	}

}