.movie-poster {
  width: 20%;
  margin-bottom: 40px; }
  .movie-poster a, .movie-poster a:hover {
    color: inherit;
    text-decoration: none; }
  .movie-poster:hover {
    cursor: pointer; }
    .movie-poster:hover .poster-image .overlay {
      left: 0; }
  .movie-poster .poster-image {
    position: relative;
    overflow: hidden; }
    .movie-poster .poster-image img {
      width: 100%;
      height: auto;
      background-color: #FF0073; }
    .movie-poster .poster-image .add-favourite {
      position: absolute;
      z-index: 2;
      bottom: 10px;
      right: 10px;
      border-radius: 50%;
      background-color: #FF0073;
      padding: 5px;
      width: 30px;
      height: 30px; }
      .movie-poster .poster-image .add-favourite .fill {
        opacity: 0;
        transition: opacity 0.3s; }
      .movie-poster .poster-image .add-favourite:hover .fill {
        opacity: 0.5; }
      .movie-poster .poster-image .add-favourite svg {
        fill: white;
        width: 100%;
        height: auto; }
      .movie-poster .poster-image .add-favourite.active .fill {
        opacity: 1; }
    .movie-poster .poster-image .overlay {
      left: -100%;
      transition: left 0.5s;
      min-width: 100%;
      background: -webkit-linear-gradient(left, rgba(255, 0, 115, 0.75) 10%, rgba(125, 185, 232, 0) 100%); }
  .movie-poster h2 {
    padding-right: 40px; }
  .movie-poster .favourite-toggle {
    color: #FF0073;
    font-weight: 500;
    transition: color 0.3s;
    flex: 1;
    display: flex;
    justify-content: flex-end;
    flex-direction: column; }
    .movie-poster .favourite-toggle:hover {
      color: white; }
