@import 'src/style/vars';

.feature-movie {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	color: white;
	padding: 40px 0px 30px;
	min-height: 450px;
	margin-bottom: 40px;
	position: relative;

	.movie-info {
		width: 25%;
		max-width: 500px;
		position: relative;
		z-index: 2;
		padding: 0 30px;

		h2 {
			font-size: 50px;
			line-height: 50px;
			margin-top: 0;
		}

		p {
			max-width: 350px;
			
			&.release-date {
				margin-bottom: 20px;
			}
		}

		.upcoming-link a {
			color: inherit;
			text-decoration: none;
			transition: color 0.3s;

			&:hover {
				color: $deep-blue;
			}
		}
	}
}