.nav .navbar {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 4;
  background: -webkit-linear-gradient(top, white 0%, rgba(255, 255, 255, 0) 100%); }
  .nav .navbar.dark, .nav .navbar.pink {
    background: -webkit-linear-gradient(top, #02252b 0%, rgba(2, 37, 43, 0) 100%);
    color: white; }
    .nav .navbar.dark svg, .nav .navbar.pink svg {
      fill: white; }
  .nav .navbar.pink {
    background: -webkit-linear-gradient(top, #ff0073 0%, rgba(255, 0, 115, 0) 100%); }
    .nav .navbar.pink .logo span {
      color: #02252B; }
    .nav .navbar.pink svg:hover {
      fill: #02252B; }
  .nav .navbar a, .nav .navbar a:hover {
    color: inherit;
    text-decoration: none; }
  .nav .navbar .logo {
    font-family: 'Paytone One', Arial, sans-serif;
    font-size: 30px;
    line-height: 30px; }
    .nav .navbar .logo span {
      color: #FF0073; }
  .nav .navbar svg {
    height: 20px;
    width: auto;
    cursor: pointer;
    transition: fill 0.3s;
    fill: black;
    margin-left: 10px; }
    .nav .navbar svg:hover {
      fill: #FF0073; }
    .nav .navbar svg.fav-icon {
      height: 25px; }
    .nav .navbar svg.close-icon {
      height: 30px; }
